*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

}
.main_title{
    // display: flex;
    align-items: center;
    // flex-direction: column;
    img{
        width: 80px;
        height: 5px;
        // display: flex;
     
    }
}
.rrasm{
    background-color: rgb(143, 46, 46);
    background-image: url(../../../1695226644_2-7.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    position: relative;
    color: #000000;
}
header{
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
   
    
}
nav{

    .nav_img_ul_a{
        display: flex;
        align-items: center;
        justify-content: space-between;
         ul{
            display: flex;
            gap: 20px;
            list-style-type: none;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
.contenor_ichdagi_p{
   margin-top: 50px;
   gap: 30px;
   font-size: 20px;
   color: #fff;
   p{
    writing-mode: vertical-lr;
   }
}
.contenor_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    h1{
        font-size: 50px;
        width: 600px;
    }
}
.main-num{
    display: flex;
    .num{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

   
   
}
main{
    background: linear-gradient(135deg, #000000, #222, #000000);
    padding: 50px;
    color: #fff     ;
    button{
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;

    }

}
.main-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    position: relative;
    top:-370px;


    // justify-content: center;
    h2{
        font-size: 40px;
        padding: 20px 20px;
    }
    p{
        padding: 20px 20px;
        width: 500px;
       
    }
    button{
            border: none;
        color: #fff;
        margin-left: 20px;
        &:active{
            background-color: #e4e4e4;
            color: #000000;

        }
    }
}
.card{

    display: flex;
    align-items: center;

    img{
        width: 80px;
        height: 5px;
    }
    p{
        color: #f6ff00;
    }
}
footer{
    background-color: #222;
    color: white;
    .ftr-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    
    }
    
    h2{
        padding-bottom: 20px;
    }
    .footer_ichi{
        h3{
            padding-bottom: 20px;
        }
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
}
.burger{
    display: none;
}
input{
    display: none;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateX(150%);
    transition: 1s; 
    background-color: aqua;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 22222;
    text-align: center;
    ul{
        list-style-type: none;
        a{
            text-decoration: none;
            color: white;
        }
    }
}
@media (max-width: 930px){
    .rrasm{
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    .burger{
        display: block;
    }
    input[type="checkbox"]:checked+ .sidebar{
        transform: translateX(0);
        // height: 100vh;
        // top: 0;
    }
    nav{
        .nav_img_ul_a{
            display: none;
            ul{
                display: none;  
            }
            .nav-imgg{
                display: none;
            }
        }
        .sidebar{
            display: block;
            label{
                margin-left: 750px;
                margin-top: 50px;
                color: black;
                font-size: 20px;
            }
        }
        
    }
    .main-about{
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 900px;
    }
    .main-num{
        display: none;
    }

}
.contenor_ichdagi_p{
    display: none;
}
@media(max-width:430px){
    nav{
        .sidebar{
            label{
                text-align: center;
                margin-left: 200px;
            }
        }
    }
    .main-about{
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 400px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        h2{
            width: 360px;
        }
        p{
            width: 360px;
        }
        .main-last{
            width: 100%;
            max-width: 350px;
            margin-left: 0px;
        }
    }
    .contenor_ichdagi_p{
        display: none;
    }
    .main-num{
        display: none; 
    }
    .main_title{
        h1{
            width: 100%;
            max-width: 350px;
            text-align: center;
            margin-left: 40px;

        }
        p{
            width: 100%;
            max-width: 350px;
            margin-left: 82px;
        }
        img{
            margin-left: 45px;
        }

    
    }
    .burger{
        label{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            i{
                font-size: 30px;
            }
        }
    }
    footer{
        background-color: #222;
        color: white;
        .ftr-content{
            flex-direction: column;
            gap: 10px;
            padding: 20px;
        }
    }
}